@model IEnumerable<Loppuprojekti_AW.Models.Post>

@{
    ViewData["Title"] = "Omat ilmoitukset";
}


    <h2 class="display-4">Omat ilmoitukset</h2>

<p>
    <a asp-action="Attending">Omat ilmoittautumiset</a>
</p>
<p>
    <a asp-action="Create">Luo uusi ilmoitus</a>
</p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Postname)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Attendees)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Posttype)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Place)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Date)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Duration)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Privacy)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Sport)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Postname)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Attendees)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Posttype)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Place)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Date)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Duration)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Privacy)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Sport.Sportname)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Postid" class="btn btn-outline-success">Muokkaa</a>
                        <a asp-action="Delete" asp-route-id="@item.Postid" class="btn btn-outline-danger" onclick="return confirm('Haluatko varmasti poistaa ilmoituksen?')">Poista</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

<script>
    function alertDelete() {
        alert("Haluatko varmasti poistaa ilmoituksen?");
    }
</script>