@model Loppuprojekti_AW.Models.Post

@{
    ViewData["Title"] = "Pääsivu";
    int i = 1;
    @using System.Globalization;
}

<h1 class="display-4">Hei @ViewBag.Username!</h1>
<p>Olet kirjautunut sisään.</p>
@if (ViewBag.Avatar != null)
{
    <img src="@(ViewBag.Avatar)" alt="photo" class="rounded-circle float-right" title="Kuva" />
}
<p>Tänään on @DateTime.Today.ToString("d.M.y")</p>
<a asp-action="Create" asp-controller="Post" class="btn btn-outline-success">Luo ilmoitus</a>
<hr />
<h5>Sinun ilmoitukset tälle päivälle</h5>
@if (ViewBag.UserOwnPosts.Count == 0)
{

    <div class="alert alert-primary d-flex align-items-center" role="alert">
        <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Info:"><use xlink:href="#info-fill" /></svg>
        <div class="error">
            Sinulla ei ole omia tapahtumia 24h sisällä        
        </div>
    </div>
}
else
{

    <div class="accordion" id="accordionPost">
        @foreach (var item in ViewBag.UserOwnPosts)
        {
            string iditem = "ownposthtml" + i;
            <div class="card">
                <div class="card-header" id="headingPost">
                    <h2 class="mb-0">
                        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#@iditem" aria-expanded="false" aria-controls="@iditem">
                            @item.Postname
                        </button>
                    </h2>
                </div>
                <div id="@iditem" class="collapse" aria-labelledby="headingPost" data-parent="#accordionPost">
                    <div class="card-body">
                        <p><strong>@item.Date.ToString("g", new CultureInfo("fi-FI")) - @item.Duration min</strong></p>
                        <p> @item.Description</p>
                        <p><strong>@item.Sport.Sportname</strong> - @item.Place - @item.AttendeesNavigation.Count / @item.Attendees - @item.Price €</p>
                        <p>
                            @Html.ActionLink("Muokka ilmoitusta", "Edit", "Post", new { postid = item.Postid }, new { @class = "btn btn-outline-success" })
                            @Html.ActionLink("Poista ilmoitus", "Delete", "Post", new { postid = item.Postid }, new { @class = "btn btn-outline-danger", onclick = "alertDelete()" })
                            @*<a asp-action="Edit" asp-controller="Post" asp-route-id="@item.Postid" class="btn btn-outline-success">Muokkaa ilmoitusta</a>
                                <a asp-action="Delete" asp-controller="Post" asp-route-id="@item.Postid" class="btn btn-outline-danger" onclick="alertDelete()">Poista ilmoitus</a>*@
                        </p>
                    </div>
                </div>
            </div>
        }
    </div>
}


<h5>Sinun ilmoittautumiset tälle päivälle</h5>
@if (ViewBag.UserAttendenceToday.Count == 0)
{
<div class="alert alert-primary d-flex align-items-center" role="alert">
    <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Info:"><use xlink:href="#info-fill" /></svg>
    <div class="error">
        Sinulla ei ole omia tapahtumia 24h sisällä
    </div>
</div>
}
else
{
    <div class="accordion" id="accordionPost">
        @foreach (var item in ViewBag.UserAttendenceToday)
        {
            string iditem = "attendingtodayhtmlid" + i;
            <div class="card">
                <div class="card-header" id="headingPost">
                    <h2 class="mb-0">
                        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#@iditem" aria-expanded="false" aria-controls="@iditem">
                            @item.Postname
                        </button>
                    </h2>
                </div>
                <div id="@iditem" class="collapse" aria-labelledby="headingPost" data-parent="#accordionPost">
                    <div class="card-body">
                        <p><strong>@item.Date.ToString("d.M.yyyy hh:mm") - @item.Duration min</strong></p>
                        <p> @item.Description</p>
                        <p><strong>@item.Sport.Sportname</strong> - @item.Place - @item.AttendeesNavigation.Count / @item.Attendees - @item.Price €</p>
                        <p>
                            @*<a asp-action="Attend" asp-controller="Post" asp-route-id="@item.Postid" class="btn btn-outline-success">Ilmoittaudu</a>*@
                            <a asp-action="Cancel" asp-controller="Post" asp-route-id="@item.Postid" class="btn btn-outline-danger" onclick="alertDelete()">Peruuta ilmoittautumisesi</a>
                        </p>
                    </div>
                </div>
            </div>
        }
    </div>
}

<script>
    function alertDelete() {
        confirm("Haluatko varmasti peruuttaa ilmoittautumisen?");
    }
</script>
