@model Loppuprojekti_AW.Models.Enduser

@{
    ViewData["Title"] = "Profiili";
}

<h2>@Model.Username</h2>

<div>
    <hr />
    @if (Model.Photo != null) {
        <img src="@(Model.Photo)" alt="photo" class="rounded-circle float-right" title="Kuva" />
    }
    <dl class="row">
        <dt class="col-sm-2">
            Syntymäpäivä
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Birthday)
        </dd>
        <dt class="col-sm-2">
            Rooli
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Userrole)
        </dd>
        <dt class="col-sm-2">
           Kuvaus
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            Seura
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Club)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Userid" class="btn btn-outline-success">Muokkaa tietojasi</a>
    <a asp-action="Delete" asp-route-id="@Model.Userid" class="btn btn-outline-danger" onclick="return confirm('Haluatko varmasti poistaa profiilisi?');">Poista tunnuksesi</a>
    <a asp-controller="Sport" asp-action="Index" asp-route-id="@Model.Userid" class="btn btn-outline-primary">Suosikkilajit</a>
    <a asp-action="Index" class="btn btn-outline-primary">Takaisin</a>
</div>
